# OpenWeatherMap API
# 가입: https://openweathermap.org/api
# 무료 플랜: 하루 1000개 요청
NEXT_PUBLIC_OPENWEATHER_API_KEY=5bae92620c690ba69b721cfa67366934

# 네이버 검색 API
# 가입: https://developers.naver.com/apps/#/register
# 무료 플랜: 하루 25,000개 요청
NEXT_PUBLIC_NAVER_CLIENT_ID=SGfUJ_PEqbRzXKN3lItF
NEXT_PUBLIC_NAVER_CLIENT_SECRET=Xqv7PiSCyW
